.Home {
    min-height: 100vh;
}

.intro {
    position: absolute;
    top: 220px;
    left: 50px;
    z-index: 4;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.884);
    letter-spacing: 1.2px;
    width: inherit;
}

.intro h5 {
    opacity: 1;
    color: rgb(133, 132, 132);
    margin-bottom: 10px;
    font-size: 14px;
}

.intro h2 {
    display: flex;
    flex-direction: column;
    line-height: 45px;
}

.shadow__wall {
    position: absolute;
    top: 100px;
    height: 670px;
    left: 0px;
    background-color: rgb(237, 246, 252);
    width: inherit;
}

.home__image {
    position: relative;
    top: 10px;
    left: 200px;
    height: 650px;
    z-index: 2;
    width: inherit;
}


@media only screen and (max-width: 768px) {

    .home__image {
        left: 0px;
    }

    .shadow__wall {
        left: 0px;
        top: 50px;
        height: 500px;
    }

    .intro {
        top: 10px;
        left: 10px;
        padding: 20px;
    }


}

@media only screen and (max-width: 600px) {
    .home__image {
        left: 0px;
        height:450px;

    }

    .shadow__wall {
        left: 0px;
        height:600px;
    }

    .intro {
        top: 180px;
        left: 0px;
    }
}
