.Room__image {
    width: 580px;

}

.Room__shadow {
    z-index: -1;
    position: absolute;
    top: 40px;
    left: 70px;
    height: 580px;
    width: 580px;
    padding-left: 10px;
    background-color: rgb(237, 246, 252);

}